<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客正文</title>
</head>
<body>
    <h1>{{ post.title }}</h1>

    <div>
        <p>{{ post.body }}</p>
    </div>

    <buton><a href="{% url 'my:update' post.id %}">修改博文</a></buton>&nbsp;&nbsp;<button><a href="{% url 'my:delete' post.id %}">删除博文</a></button>
</body>
</html>