<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    欢迎您，
    {% if username %}
        {{ username }},
    {% else %}
        游客。<br>
        <a href="/my_app/register/">点我注册！</a>
    {% endif %}
    <a href="/my_app/logout"><button>注销</button></a>
</body>
</html>